* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
}

h1 {
    color: red;
    text-align: center;
    margin: 20px;
    padding: 10px;
}

h2 {
    color: aqua;
    margin: 20px;
    padding: 10px;
}

p {
    color: wheat;
    margin: 20px;
    padding: 10px;
}